# **Data Engineering Module Seminar Session for week 1.**

Running my first python cell on Google colab

In [ ]:
print("Welcome to Data Engineering Module !")

Welcome to Data Engineering Module !

Variables and data types

In [ ]:
age = 25            # this is an int data type
pi = 3.14           # this is a float data type
name = "Habeeb"     # this is a string data type
is_student = True   #

In [ ]:
print(f'Welcome to Data Engineering Module, my name is {name}, I am the module leader and I am {age} years old.')

Welcome to Data Engineering Module, my name is Habeeb, I am the module leader and I am 25 years old.

In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd
data=pd.DataFrame({'A':[1,2,3,]})

In [ ]:
module = 'Data engineering'

# change the engineering in the module to 'science' using str.replace